@import '~styles/_variables.scss';




.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1rem 0 5rem;

  .top_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;


    .back_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-size: 2rem;
      background-color: $color-bg-dark1;
      border-radius: 50%;
      padding: 0.4rem;
      color: #757575;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0 0, 5rem;

    .error {
      padding: 0.5rem;
      color: red;
    }

    .amount_input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      background-color: white;
      border-radius: 3rem;
      // border: 2px solid transparent;
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      text-align: center;
      font-size: 2rem;
      padding: 0.5rem;
      border: double 3px transparent;
      border-radius: 3rem;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

      background-image: linear-gradient(white, white), 
                        linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      background-origin: border-box;
      background-clip: padding-box, border-box;

      &:focus::placeholder {
        color: transparent;
      }
    }

    .extra_info {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 2rem;

      input {
        width: 90%;
        background-color: white;
        border-radius: 1rem;
        border: 2px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        text-align: center;
        font-family: $font-comforta;
        font-size: 0.9rem;
        padding: 0.7rem;

        &:focus {
          border: 2px solid $color-1;
        }

        &:focus::placeholder {
          color: transparent;
        }
      }
    }
  }

  .title {
    font-size: 1rem;
    color: $textColorDarkGray;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }

  .category_btns {
    margin: 1rem 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 3rem;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      text-align: center;
      font-family: $font-comforta;
      font-size: 0.8rem;
      padding: 0.7rem;
      overflow: hidden;


      &:focus {
        background: $color-1;
        color: $textColorWhite;
      }
    }
  }

  .submit_btn {
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline: none;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: $textColorWhite;
    letter-spacing: 0.2rem;
    margin-top: auto;
    
  }
}