@import '~styles/_variables.scss';

.display {
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding-top: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: $dark-shadow;

  .btn_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .balance_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 1rem;

    h4 {
      color: $textColorGray;
      letter-spacing: 0.2rem;
    }

    .balance {
      display: flex;
      gap: 0.3rem;
      padding-right: 1rem;
      align-items: center;
      color: $textColorWhite;

      h3 {
        font-weight: 300;
      }

      h1 {
        font-family: $font-kufam;
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-size: 2.2rem;
      }
    }
  }
}