@import '~styles/_variables.scss';

.expenses_list {
  display: flex;
  flex-direction: column;

  h3 {
    padding: 2rem 1rem 1rem;
    color: $textColorDarkGray;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .skeleton {
      margin-bottom: 1rem;
      border-radius: 1rem;
    }

  }
}