@import '~styles/_variables.scss';

.expenses_list {
  display: flex;
  flex-direction: column;

  h3 {
    padding: 2rem 0 1rem;
    color: $textColorDarkGray;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
}