@import '~styles/_variables.scss';


.list_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .toggle_btn {
    margin-right: 1rem;
    padding: 0 0.5rem;
    background-color: transparent;
    border: none;
    border-right: 1px solid $textColorGray;
    outline: none;
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0.2rem;
    padding-right: 1rem;
  }

  .extra_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    // max-height: 0;
    // transition: max-height 0.5s ease;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.26s ease;

    .desc {
      font-size: 0.9rem;
      text-align: left;
      margin-top: 1rem;
      margin-left: 2rem;
      width: 100%;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.2rem;
      gap: 0.5rem;
      padding: 0 0 0 2rem;
      font-size: 0.7rem;
      color: $textColorDarkGray;
    }

    .delete_btn {
      width: 20%;
      margin-top: 1.2rem;
      color: $color-2;
   

    }
  }

  .open {
    max-height: 5rem;
    transform: scaleY(1);
  }

}