@import '~styles/_variables.scss';


.list_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .toggle_btn {
    margin-right: 1rem;
    padding: 0 0.5rem;
    background-color: transparent;
    border: none;
    border-right: 1px solid $textColorGray;
    outline: none;
  }

  .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0.2rem;
    padding-right: 1rem;
  }

  .extra_info {
    width: 100%;
 
 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s, 0s, 0s;
    transition: visibility 0.2s ease, max-height 0.5s ease, opacity 1s ease ;

    .desc {
      font-size: 0.9rem;
      text-align: left;
      margin-top: 1rem;
      margin-left: 2rem;
      width: 100%;
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: 0.7rem;
      color: $textColorDarkGray;
    }

    .delete_btn {
      margin: 1rem 1rem 0 0;
      color: $color-2;
    }
  }

  .open {
    display: flex;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 1s ease, opacity 1s ease ;
    max-height: 4rem;
    /* magic number for max-height = enough height */
    visibility: visible;
    transition-delay: 0s;
    margin: 0;
    padding: 0;
  }

}