@import '~styles/_variables.scss';

.top_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: $color-bg-dark1;
    border-radius: 50%;
    padding: 0.4rem;
    color: #757575;
    border: none;
  }
}