@import '@styles/_variables.scss';


.list_item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $textColorGray;

  &:nth-last-child(1) {
    border-bottom: none;

    .sub_items {
      .sub_item {
        &:nth-last-child(1) {
          border-bottom-right-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }
      }
    }
  }

  .item_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .toggle_btn {
      margin-right: 1rem;
      padding: 0 0.5rem;
      background-color: transparent;
      border: none;
      border-right: 1px solid $textColorGray;
      outline: none;
    }

    .rotate_up {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }

    .rotate_down {
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }

    .amount_radio {
      display: flex;
      align-items: center;
      justify-content: center;

      .amount {
        margin-right: 0.1rem;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        input[type='checkbox'] {
          width: 5px;
        }

        input[type='checkbox']:after {
          content: '';
          width: 14px;
          height: 14px;
          border-radius: 15px;
          top: -1px;
          right: 7px;
          position: relative;
          background-color: $color-bg-dark1;
          display: inline-block;
          visibility: visible;
        }

        input[type='checkbox']:checked:after {
          content: '';
          width: 14px;
          height: 14px;
          border-radius: 15px;
          position: relative;
          background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #ebae07 100%);
          display: inline-block;
          visibility: visible;
        }
      }

      .prev_month_amount {
        color: $textColorDarkGray;
      }

      .euro_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0.1rem;
      }
    }
  }

  .sub_items {
    width: 100%;
    overflow-y: scroll;
    max-height: 0;
    transition: max-height 0.5s ease;

    .sub_item {
      display: flex;
      justify-content: space-between;
      background-color: $color-bg;
      color: $textColorDarkGray2;
      border-top: 1px solid $textColorGray;
      padding-left: 1rem;

      .amount_and_radio {
        display: flex;
        align-items: center;

        .euro_icon {
          margin-left: 0.1rem;
        }

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;

          input[type='checkbox'] {
            width: 5px;
          }

          input[type='checkbox']:after {
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 15px;
            top: -1px;
            right: 7px;
            position: relative;
            background-color: $color-bg-dark1;
            display: inline-block;
            visibility: visible;
          }

          input[type='checkbox']:checked:after {
            content: '';
            width: 14px;
            height: 14px;
            border-radius: 15px;
            position: relative;
            background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
            display: inline-block;
            visibility: visible;
          }
        }
      }

      .desc {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .open {
    max-height: 20rem;
  }
}