// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,600;0,700;1,400&display=swap');


//fonts
$font-roboto: 'Roboto',
sans-serif;
$font-montserrat: 'Montserrat',
sans-serif;
$font-lobster: 'Lobster',
sans-serif;
$font-racing-bold: 'Racing Sans One',
cursive;
$font-oleo: 'Oleo Script',
cursive;
$font-comforta: 'Comfortaa',
cursive;
$font-raleway: 'Raleway',
sans-serif;
$font-lexend: 'Lexend',
sans-serif;
$font-bangers: 'Bangers',
cursive;
$font-kufam: 'Kufam',
sans-serif;


//colors
$color-bg:#f3f4f6;
$color-bg-dark0:#f1f1f1;
$color-bg-dark1:#e2e2e4;
$color-bg-dark2:#b4b4b4;
$color-1: rgb(235 160 111);
$color-1-dark: rgb(211, 126, 69);
$color-2: rgb(125 84 201);

$gray1 :hsl(208, 37%, 85%);
$gray2 :hsl(210, 17%, 72%);
$gray3 :hsl(210, 12%, 63%);

$textColorGray :#dbdbdb;
$textColorDarkGray :#bebaba;
$textColorDarkGray2 :#7a7878;
$textColorWhite :#ffffff;

//spacing
$spacing-sm:0.5rem;
$spacing-md:1rem;
$spacing-lg:2rem;
$spacing-2lg:4rem;
//containers
$container-sm50:50%;
$container-md70:70%;
$container-lg90:90%;
// misc
$transition_10s:0.10s ease-in-out;
$transition_05s:0.5s ease-in-out;
$transition_02s:0.2s ease-in-out;

$border-radius-1: 1rem;
$border-radius-15: 1.5rem;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
$main-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

